<template lang="pug">
#note-editor
  textarea.form-control(:value='activeNoteText', @input='editNote', :disabled='noteCount === 0')
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'activeNoteText',
      'noteCount'
    ])
  },
  methods: {
    ...mapMutations([
      'editNote'
    ])
  }
}
</script>

<style lang="stylus" scoped>
#note-editor
  height 100%
  margin-left 380px

  textarea
    height 100%
    border 0
    border-radius 0
</style>
