<template lang="pug">
#note-list
  #list-header
    h2 Notes ({{ filteredNotes.length }})
    .btn-group.btn-group-justified(role='group')
      // All Notes button
      .btn-group(role='group')
        button.btn.btn-default(type='button', @click="show = 'all'", :class="{active: show === 'all'}")
          | All Notes
      // Favorites Button
      .btn-group(role='group')
        button.btn.btn-default(type='button', @click="show = 'favorites'", :class="{active: show === 'favorites'}")
          | Favorites
  // render notes in a list
  .container
    .list-group
      a.list-group-item(v-for='note in filteredNotes', href='#', :class='{active: activeNote === note}', @click='setActiveNote(note)')
        h4.list-group-item-heading
          | {{note.text.trim().substring(0, 30)}}
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex'

export default {
  data () {
    return {
      show: 'all'
    }
  },
  computed: {
    ...mapState([
      'notes',
      'activeNote'
    ]),
    ...mapGetters([
      'favoriteNotes'
    ]),
    filteredNotes () {
      switch (this.show) {
        case 'all':
          return this.notes
        case 'favorites':
          return this.favoriteNotes
        default:
          return []
      }
    }
  },
  methods: {
    ...mapMutations([
      'setActiveNote'
    ])
  }
}
</script>

<style lang="stylus" scoped>
#note-list
  float left
  width 300px
  height 100%
  background-color #F5F5F5
  font-weight 400

  .container
    height calc(100% - 137px)
    max-height calc(100% - 137px)
    overflow auto
    width 100%
    padding 0

    .list-group-item
      border 0
      border-radius 0

#list-header
  padding 5px 25px 25px 25px

  h2
    font-weight 300
    text-transform uppercase
    text-align center
    font-size 22px
    padding-bottom 8px

.list-group-item-heading
  font-weight 300
  font-size 15px
  margin-bottom 0
</style>
