<template lang="pug">
#toolbar
  i.glyphicon.glyphicon-plus(@click='addNote')
  i.glyphicon.glyphicon-star(@click='toggleFavorite', :class='{starred: activeNote.favorite}')
  i.glyphicon.glyphicon-remove(@click='deleteNote')
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapState([
      'activeNote'
    ])
  },
  methods: {
    ...mapMutations([
      'addNote',
      'deleteNote',
      'toggleFavorite'
    ])
  }
}
</script>

<style lang="stylus" scoped>
#toolbar
  float left
  width 80px
  height 100%
  background-color #30414D
  color #767676
  padding 35px 25px 25px 25px

  i
    font-size 30px
    margin-bottom 35px
    cursor pointer
    opacity 0.8
    transition opacity 0.5s ease

    &:hover
      opacity 1

    &.starred
      color #F7AE4F
</style>
