<template lang="pug">
#app
  toolbar
  note-list
  editor
</template>

<script>
import Toolbar from '@/components/Toolbar'
import NoteList from '@/components/NoteList'
import Editor from '@/components/Editor'

export default {
  name: 'app',
  components: {
    Toolbar,
    NoteList,
    Editor
  }
}
</script>

<style lang="stylus">
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

html, #app
  height 100%

body
  margin 0
  padding 0
  border 0
  height 100%
  max-height 100%
  position relative
  font-family 'Lato', sans-serif
</style>
